@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";


@theme {
  --font-montagu: "Montagu Slab", serif;
  --font-poppins: "Poppins", sans-serif;

  --color-primary: #e46e00;
  --color-secondary: #000000;
  --color-ivory: #fdfaf4;
}
